@import "../../variables.scss";

.loader {
  height: 100vh;
  width: 100%;
  background-color: $darkText;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  mask-image: radial-gradient(circle, transparent 0%, transparent 0%, black 0%);

  h1 {
    font-size: 144px;
    opacity: 1;
    color: $clearText;

    @media screen and (max-width: 1240px) {
      font-size: 92px;
    }

    @media screen and (max-width: 720px) {
      font-size: 72px;
    }

    @media screen and (max-width: 540px) {
      font-size: 52px;
      text-align: center;
    }
  }

  .imageContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 80%;
    background-color: $darkText;

    margin: 0 auto;

    @media screen and (max-width: 1240px) {
      display: none;
    }

    .image {
      position: sticky;
      top: 0%;
      transform: translateY(-100%);
      object-fit: cover;
    }
  }
}