@import "../../variables.scss";

.footerContainer {
  height: 100vh;
  position: relative;

  .footer {
    height: 100vh;
    display: flex;
    z-index: 2;
    position: relative;

    @media screen and (max-width: 740px) {
      flex-direction: column;
    }

    // flex-wrap: wrap;
    .credits {
      padding: 60px;
      width: 50vw;

      @media screen and (max-width: 740px) {
        width: 80vw;
        padding: 30px;
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .credit {
        display: flex;

        .imgContainer {
          width: 125px;
          height: 125px;
          margin-right: 22px;
          margin-bottom: 12px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        p {
          font-family: $banska;
        }
      }
    }

    .presentation {
      padding: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50vw;

      @media screen and (max-width: 740px) {
        width: 80vw;
        height: 100vh;
        padding: 30px;
      }

      .qrContainer {
        align-self: center;
        width: 250px;
        height: 250px;

        @media screen and (max-width: 740px) {
          // margin-bottom: 100px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      h2 {
        font-size: 48px;
        margin-top: -100px;

        @media screen and (max-width: 740px) {
          margin-top: 26px;
          text-align: center;
          width: 100%;
          font-size: 36px;
          margin-bottom: 12px;
        }
      }

      .socials {
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: $darkText;
          font-family: $banska;
          font-size: 22px;
        }
      }
    }
  }

  .footerColumnContainer {
    // background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    // z-index: 3;
    // opacity: 0.5;
    display: flex;

    .footerColumn {
      background-color: black;
      height: 100vh;
      width: 10%;
    }
  }
}