.descriptionContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    position: relative;
    width: 100%;
    color: black;
    height: 50vh;

    @media screen and (max-width: 1100px) {
        height: 80vh;
    }
}

.description {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    z-index: 1;

    h2 {
        font-size: 2vw;
        text-transform: uppercase;
        margin: 0;

        @media screen and (max-width: 1100px) {
            font-size: 3vw;
        }
    }

    p {
        font-size: 3vw;
        margin: 0;
        line-height: 1.1;

        span {
            opacity: 0.1;
            transition: all 0.1s ease;
        }
    }
}

.illustrations {
    position: absolute;
    top: 0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;

    .images {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .imageContainer {
            width: 15vw;
            height: 20vw;
            border-radius: 10px;
            overflow: hidden;
            opacity: 0.5;
            filter: grayscale(100%);
            transition: all 0.3s ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover {
                opacity: 1;
                filter: grayscale(0%);
                transform: scale(1.05);
            }
        }
    }
}

.circleContainer {
    height: 150%;
    width: 120%;
    left: -10%;
    background-color: black;
    border-radius: 0 0 50% 50%;
    position: relative;
    z-index: 10;
    margin-top: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.circle {
    height: 0%;
    width: 100%;
    background-color: red;
    border-radius: 0 0 50% 50%;
    z-index: 11;
}