@import "./variables.scss";
// Fixing HMR sync issue - attempt 6

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
}

body {
  background-color: $background;
  width: 100%;
  position: relative;
  max-width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $banska;
  }

  p {
    font-family: $satoshi;
  }
}