@import "./variables.scss";
// Fixing HMR sync issue - attempt 6

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $banska;
  }

  p {
    font-family: $satoshi;
  }
}