$background: #f7f5f3;
$darkText: #000;
$clearText: #f7f5f3;

@font-face {
  font-family: "banska";
  src: url(../../public/assets/fonts/BANSKA-BYSTRICA.OTF);
}

@font-face {
  font-family: "satoshi-regular";
  src: url(../../public/assets/fonts/SATOSHI-REGULAR.OTF);
}

$banska: banska, serif;
$satoshi: satoshi-regular, sans-serif;