.menu {
  height: 100vh;
  width: 100%;
  // transform: translateX(0); // Handled by framer-motion
  background-color: black;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0; // Fix to left
  display: flex;
  justify-content: center;

  .genres {
    display: flex;
    width: 100%; // Fill parent
    max-width: 100%;
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 10vh 20px;

    .genre {
      display: flex;
      flex-direction: column;

      .text {
        display: flex;
        gap: 22px;

        &:hover {
          cursor: pointer;
        }

        h2 {
          font-size: 112px;
          font-weight: 500;

          @media screen and (max-width: 740px) {
            font-size: 88px;
          }

          @media screen and (max-width: 580px) {
            font-size: 72px;
          }

          @media screen and (max-width: 480px) {
            font-size: 54px;
          }
        }
      }

      .line {
        height: 1px;
        background-color: white;
      }
    }

    .genre:nth-child(even) {
      .text {
        flex-direction: row-reverse;
      }
    }
  }

  .close {
    color: white;
  }
}