@import "../../../variables.scss";


.modalContainer {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  border-radius: 50%; // Make it circular
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.65s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
}

.modal img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%; // Make image circular
}

.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  background-color: $darkText;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $clearText;
}

.cursorLabel {
  background-color: transparent;
  font-size: 28px;
  font-family: $banska;
}